body {
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 40px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

h1 {
    margin-bottom: 30px;
    font-size: 36px;
    color: rgb(255, 104, 129);
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

.search {
    display: inline-block;
    position: relative;
}

.search input[type="text"] {
    width: 500px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search button[type="submit"] {
    background-color: #3d3f41;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.9s ease;
}

.search button[type="submit"]:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #242425;
}

.search button[type="submit"] i {
    pointer-events: none;
}

#result {
    margin-top: 30px;
    font-size: 20px;
    color: #a7a4a4;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}